<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BWL.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    
<userSettings>
        <BWL.My.MySettings>
                <setting name="CheckForUpdates" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="FirstRun" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="DbType" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="DbName" serializeAs="String">
                        <value>burstwallet</value>
                </setting>
                <setting name="DbUser" serializeAs="String">
                        <value>burstwallet</value>
                </setting>
                <setting name="DbPass" serializeAs="String">
                        <value>burstwallet</value>
                </setting>
                <setting name="DbServer" serializeAs="String">
                        <value>localhost:3306</value>
                </setting>
                <setting name="JavaType" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="AutoIP" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="Repo" serializeAs="String">
                        <value>http://files.getburst.net;http://files2.getburst.net</value>
                </setting>
                <setting name="Upgradev" serializeAs="String">
                        <value>11</value>
                </setting>
                <setting name="Cpulimit" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="useOpenCL" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="ListenIf" serializeAs="String">
                        <value>127.0.0.1;8125</value>
                </setting>
                <setting name="ConnectFrom" serializeAs="String">
                        <value>127.0.0.1;</value>
                </setting>
                <setting name="SetFireWall" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="DynPlatform" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="ListenPeer" serializeAs="String">
                        <value>0.0.0.0;8123</value>
                </setting>
                <setting name="AlwaysAdmin" serializeAs="String">
                        <value>False</value>
                </setting>
        </BWL.My.MySettings>
    </userSettings>
</configuration>